# Build Cache
.xmake/
build/
cmake-build*/

# build libs
lib/
tensorrt_yolo/libs/

# VSCode Cache
.vscode

# Python Cache
__pycache__/


# output Cache
output/

.idea/

# demo images
demo/**/*.jpg
demo/**/*.jpeg
demo/**/*.png
demo/**/*.gif
demo/**/*.bmp
demo/**/*.tiff
demo/**/*.webp

# demo models
demo/**/*.pt
demo/**/*.onnx
demo/**/*.engine
venv/

# python package
dist/
tensorrt_yolo.egg-info/
tensorrt_yolo/c_lib_wrap.py

# output Cache
output/

# example images
examples/**/*.jpg
examples/**/*.jpeg
examples/**/*.png
examples/**/*.gif
examples/**/*.bmp
examples/**/*.tiff
examples/**/*.webp

# example models
examples/**/*.pt
examples/**/*.onnx
examples/**/*.engine

tests/

*.pyd
